<html>
  <head>
    <!-- AFTER HTML loads in browser, browser will request for CSS. -->
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>Bigfoot Sightings - Year <%= year %> </h1>
    <a href="/year-sightings"> Back to year sightings</a>
    <% for(let i=0; i<sightings.length; i++) {%>
        <ul>
            <li>
                <span>
                    YEAR: <%= sightings[i].year %> <br>
                    STATE: <%= sightings[i].state %> <br>
                    OBSERVED: <%= sightings[i].observed %> <br>
                </span>
            </li>
        </ul>
    <% }%>
  </body>
</html>