<%- include('header'); -%> <%- include('navbar'); -%>
<body>
  <br />
  <div class="container">
    <!-- headings span -->
    <div class="row-12">
      <span id="headings-block">
        <h1 class="display-4"><%= message %></h1>
        <p class="fw-normal text-muted">User email and password is correct!</p>
        <hr class="border-2 border-top border-dark" />
      </span>
    </div>
    <form method="POST" action="/logout?_method=DELETE">
      <button class="btn btn-secondary" type="submit">Logout</button>
    </form>
  </div>
</body>
<%- include('footer'); -%>
