<!DOCTYPE html>
<html>
<body>

<h2>POST Request Data in JSON using HTML Forms</h2>

<form action="/recipe" method="POST">
  <label for="label">recipe label:</label><br />
  <input type="text" id="label" name="label" /><br />
  <label for="ingredients">ingredients:</label><br />
  <input type="text" id="ingredients" name="ingredients" /><br />
  <input type="submit" value="Submit" />
</form>

<p>If you click the "Submit" button, the form-data will be sent to a page called "/recipe".</p>

</body>
</html>

