<ul>
  <li><a href="/">Create Bug Form</a></li>
  <li><a href="/all-bugs">Bugs List</a></li>
  <li><a href="/new-features">Create Features Form</a></li>
  <li><a href="/features">Features json</a></li>
</ul>
