body {
  background-color: lightblue;
  font-family: Helvetica, sans-serif;
}
/* .user-input-field {
  width: 500px;
  height: 200px;
} */

.submitBtn {
  padding: 12px 20px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
}

.userInput {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
}
