<!DOCTYPE html>
<html>
  <head>
    <title>BugReport</title>
  </head>
  <body>
    <%- include('../nav'); %>
    <!-- heading -->
    <h2>Create Bug Form</h2>
    <form action="/bugs" method="POST">
      <!-- problem  -->
      <label for="problem">Problem:</label><br />
      <input type="text" id="problem" name="problem" value="" size="50" /><br />
      <br />
      <!-- error txt -->
      <label for="error_text">Error Text:</label><br />
      <input
        type="text"
        id="error_text"
        name="error_text"
        value=""
        size="50"
      /><br />
      <br />
      <!-- commit  -->
      <label for="commit">Commit Id:</label><br />
      <input type="text" id="commit" name="commit" value="" size="50" /><br />
      <!-- feature radio -->
      <div id="feature-div">
        <p>Features:</p>
        <!-- <input type="radio" id="age1" name="age" value="30" />
        <label for="age1">0 - 30</label><br /> -->
      </div>
      <br />
      <!-- submit -->
      <input type="submit" value="Submit" />
    </form>
    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
