<!DOCTYPE html>
<html>
  <body>
    <h1>5.ICE.2: Ajax</h1>
    <button type="button" onclick="onClick(event)">Get Item!</button>
    <section id="item-section"></section>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
