:root {
  --off-white: #f8f8f6;
  --light-grey: #d9dad9;
  --dark-grey: #767676;
  --blue1: #027dc5;
  --blue2: #34495e;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--off-white);
  max-width: 300px;
  max-height: 500px;
  margin: auto;
}

#header {
  text-align: center;
}

.score {
  display: flex;
  flex-direction: row;
  column-gap: auto;
  justify-content: space-evenly;
  max-width: 230px;
  text-align: center;
  margin: 1rem auto;
}

.board {
  border-color: var(--off-white);
  background-color: var(--light-grey);
  max-width: fit-content;
  margin: 2rem auto;
}

.square {
  padding: 10px;
  margin: 2px;
  background-color: var(--off-white);
  display: inline-block;
  height: 50px;
  width: 50px;
  vertical-align: top;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.output {
  margin: auto;
  text-align: center;
}

.reset-btn {
  display: flex;
  border-radius: 5px;
  color: var(--off-white);
  font-size: 16px;
  background: var(--dark-grey);
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  margin: 1rem auto;
}

#x-square {
  color: var(--blue1);
}

#x-wins {
  color: var(--blue1);
}

#o-square {
  color: var(--blue2);
}

#o-wins {
  color: var(--blue2);
}

#draw {
  color: var(--dark-grey);
}

.checkbox-span {
  display: flex;
  flex-direction: row;
  text-align: center;
}
