<!DOCTYPE html>
<html>
<body>

<h2>New Big Foot Sighting</h2>
<p>Fill in the fields for the form below to add a new big foot sighting</p>
<form action="/new-sighting" method="POST">
  <label for="year">Year:</label><br>
  <input type="text" id="year" name="year" value=""><br>
  <label for="season">Season:</label><br>
  <input type="text" id="season" name="season" value=""><br>
  <label for="state">State:</label><br>
  <input type="text" id="state" name="state" value=""><br>
  <label for="county">County:</label><br>
  <input type="text" id="county" name="county" value=""><br>
  <label for="location_details">Location Details:</label><br>
  <input type="text" id="location_details" name="location_details" value=""><br>
  <label for="observed">Observed:</label><br>
  <input type="text" id="observed" name="observed" value=""><br>

  <br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>

