<html>
  <head>
    <!-- AFTER HTML loads in browser, browser will request for CSS. -->
    <!-- <link rel="stylesheet" href="styles.css"> -->
  </head>
  <body>
    <h1>Bigfoot Sighting <%= result.index %></h1>
    <span>
        <p> YEAR: <%= result.sighting.year %></p>
        <p> STATE: <%= result.sighting.state %></p>
        <p> OBSERVED: <%= result.sighting.observed %></p>
    </span>
    <br>
    <a href="/sightings"> Back to all sightings</a>
  </body>
</html>