<html>
  <head>
    <!-- AFTER HTML loads in browser, browser will request for CSS. -->
    <!-- <link rel="stylesheet" href="styles.css"> -->
  </head>
  <body>
    <h1>Bigfoot Year Sightings</h1>
    <form action="/year-sightings">
      <label for="cars">Sort by:</label>
      <select name="sort" id="sort">
        <option value="asc">asc</option>
        <option value="desc">desc</option>
      </select>
      <input type="submit" value="Submit">
    </form>
    <% for(let i=0; i<years.length; i++) {%>
        <ul>
            <li>
                <a href="/year-sightings/<%= years[i]%>"> YEAR: <%= years[i] %></a>
            </li>
        </ul>
    <% }%>
  </body>
</html>