<!DOCTYPE html>
<html>
  <body>
    <h2>One to many form exercise</h2>
    <h3>ADD RECIPE DROPDOWN FORM</h3>
    <form action="/recipe" method="POST">
      <select name="category_id">
        <% categories.forEach((category) => { %>
        <option value="<%= category.id %>"><%= category.name %></option>
        <% }); %>
      </select>
      <input type="text" name="label" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
