<!DOCTYPE html>
<html>
  <body>
    <h1><%= message %></h1>
    <p>Special access button only for Logged in users</p>
    <button type="button" onclick="location.href='/special'">
      CLICK ME IF YOU CAN
    </button>
    <button type="button" onclick="location.href='/logout'">LOGOUT</button>
  </body>
</html>
