<!DOCTYPE html>
<html>
  <body>
    <h2>One to many form exercise</h2>
    <h3><%= message %></h3>
    <button type="button" onclick="location.href='/recipe/new'">
      BACK TO FORM DROPDOWN
    </button>
  </body>
</html>
